<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 10px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Little Troopers</h4>
      <img src="{{url_for('static', filename=url)}}" width="450" height="300" />
      <p><small>Courtesy: <a href="https://unsplash.com/">Unsplash - photos for everyone</a></small></p>
      <p>{{f}}</p>
    </div>
  </body>
</html>

